---
import { storyblokEditable } from "@storyblok/astro";
import Company from "../components/Company.astro";

const { blok } = Astro.props;

const stats = blok.stats?.map((s: any) => ({
  value: s.value,
  label: s.label,
}));
---

<div {...storyblokEditable(blok)}>
  <Company
    eyebrow={blok.eyebrow}
    title={blok.title}
    subtitle={blok.subtitle}
    bodyText={blok.body_text}
    ctaText={blok.cta_text}
    ctaHref={blok.cta_href}
    stats={stats}
  />
</div>
