---
import { storyblokEditable } from "@storyblok/astro";
import Hero from "../components/Hero.astro";

const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)}>
  <Hero
    badge={blok.badge}
    titleTop={blok.title_top}
    titleMain={blok.title_main}
    subtitle={blok.subtitle}
    ctaText={blok.cta_text}
    ctaHref={blok.cta_href}
  />
</div>
